body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex ;
  flex-direction: column ;
  min-height: 100vh ;
}

.conatiner {
  flex:1;
}

h3,
ul,
.form {
  margin-left: 40px;
}

/* Navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

a.nav-link {
  color: black !important;
}

.navbar-nav {
  background-color: #eaf6f691;
}

/* Footer */

.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

.row {
   margin-right: 1rem !important; 
  /* margin-left: 1rem !important; */
} 
 
.row1{
  margin-right: 2rem !important;
  margin-left: 2rem !important;
} 

/* Card */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  
}

.card-img-top {
  border-radius: 1rem !important ;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-size: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */

.add-btn {
  background-color:  #fe424d !important;
  border: none !important;
}

/* Edit bTn */
.edit-btn {
  background-color:  #fe424d !important;
  border: none !important;
  box-sizing: unset !important;
}

/* 
Show Page */

.show-image {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card{
  padding-left: 0;
  padding-right: 0;
}


/*   Map */

#map {
 height: 400px;
 margin-right: 30%;
}

@media (min-width: 200px) and (max-width: 400px) {
  .card.col-6 {
    width: 80% !important; /* Force width to 400px on small screens */
    margin-left: auto; /* Center the element */
    margin-right: auto; /* Center the element */
  }

 h3{
  margin-right: 0.3 !important;
 }
  
  .offset-3{
    margin-left: 14% !important ;
  }

  .card.col-5{
    width:100%;
  }

  .mapboxgl-map{
    height: 550px;
    width: 100%;
    border-radius: 4px;

  }
}
